<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553778715575-s55uuplkb63khdslp47s38pmimg5b9l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553778715575-s55uuplkb63khdslp47s38pmimg5b9l5</string>
	<key>API_KEY</key>
	<string>AIzaSyBxXRYIWjqQO6VqZeFyYvKZkf4e-fzrgoI</string>
	<key>GCM_SENDER_ID</key>
	<string>553778715575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suttTaskFinal</string>
	<key>PROJECT_ID</key>
	<string>dvm-task-2-41d6f</string>
	<key>STORAGE_BUCKET</key>
	<string>dvm-task-2-41d6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553778715575:ios:d4b2f72c6f6ba734a42632</string>
</dict>
</plist>